body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 534px;
}

.one 
        {
            max-width: 800px;
            margin: 0 auto;
            color: black;
            font-family: sans-serif;
            padding-left: 20px;
            padding-right: 20px;
        }
        
